nav {
    background-color: #0e5781;
}
footer {
    background-color: #0e5781;
}

.my-card-body {
    background: #0e5781;
    background: linear-gradient(135deg, rgba(14,87,129,1) 0%, #5185a3 100%);
}


#top-image {
    padding: 0;
    margin: 0;
}

:target {
    display: block;
    position: relative;
    top: -80px; 
    visibility: hidden;
}
